<!DOCTYPE html>
<html>
  <head>
    <a href="http://www.cs.sonoma.edu/~haderman/">CS355</a>
    <br/><a href="/staticfile.html">Relative Link Example</a>
    <br/><a href="http://localhost:3000/staticfile.html">Absolute Link Example</a>
    <br/><a href="/template_example?first_name=Marguerite&last_name=Williams">
      Template Example</a>
    <br/><a href="/template_resume?first_name=Marguerite&last_name=Williams&major=CS">
      Resume</a>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= subtitle %></p>
  </body>
</html>
