<!DOCTYPE html>
<html>
<head>
    <title> School - View All</title>
</head>
    <body>
        <h1>Schools</h1>

        <table border = "1">
            <tr>
                <th>School Name</th>
                <th>Address</th>
                <th>Actions</th>
                <th>Delete</th>
            </tr>
            <% for(var i = 0; school.length > i; i++) {%>
            <tr>
                <td><%= school[i].school_name %></td>
                <td><%= school[i].street + ', ' + school[i].zip_code%></td>
                <td>
                    <a href = '/school/edit/?school_id=<%= school[i].school_id%>'>
                        Edit
                    </a>
                </td>
                <td>
                    <a href = '/school/delete/?school_id=<%= school[i].school_id%>'>
                        Delete
                    </a>
                </td>
            </tr>
            <% } %>
        </table>
        <br/>
        <br/>
        <br/>
        <a href = '/school/add/'>
            Add A New School
        </a>

    </body>
</html>